* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ABD1FF;
}

/* this is the navigation */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    padding-top: 15px;
    border-bottom: 1px solid #FFF4EF;
    background-color: #ABD1FF;
    z-index: 10000;
}

.logo {
    width: 150px;
}

img {
    width: 100%;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    margin-left: 80px;
    text-decoration: none;
    color: #FFF4EF;
    font-family: "Kurale", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

/* this is the home page */

.landing {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

h1 {
    font-weight: 400;
    font-size: 170px;
    font-family: "Jaldi", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 150px;
    color: #FFF4EF;
}
  
/* this is the title/heading of each page */

.heading{

}

.h2{

}