body{
    background-color:lightgrey;
}


h1 {
  font-family: "Bungee Shade", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
}

p{
    font-family: "Bonheur Royale", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
  
}
  
.blue{
  color:blue;
}

.orange{
  color:orangered;
}

.purple{
  color: purple;
}

.green{
  color: green;
}

.updown{
  text-decoration-line: overline underline;
}

.up{
  text-decoration-line: overline;
}

.down{
  text-decoration-line: underline;
}



  